<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club2.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club2.address %>
</p>

<%= link_to 'Edit', edit_club2_path(@club2) %> |
<%= link_to 'Back', club2s_path %>
