<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coach.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @coach.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coach.email %>
</p>

<p>
  <strong>Garda vetted:</strong>
  <%= @coach.garda_vetted %>
</p>

<p>
  <strong>Club:</strong>
  <%= @coach.club2.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= link_to image_tag(@coach.photo, size:"100x100") %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
