<!DOCTYPE html>
<html>
<head>
  <title>Club</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id ="banner">
	<%=image_tag("GAA.svg.png", :size=> "100x50", :color=> "white") %>
	<%= "Sports Club" %>
</div>

<% flash.each do |key, value| %>
	<div class="flash <%= key %>">
		<%= value %>
	</div>
	<% end %>

<div id ="nav">
	<ul>
		<li><%=link_to "Home", root_path %></li>
		<li><%=link_to "Club", club2s_path %></li>
		<li><%=link_to "Teams", teams_path %></li>
		<li><%=link_to "Coaches", coaches_path %></li>
		<li><%=link_to "Members", members_path %></li>
		<li><%=link_to "Fixtures", fixtures_path %></li>
		<li><%=link_to "Venues", venues_path %></li>
		<%if !signed_in? %>
			<li><%= link_to "Sign In", login_path%></li>
		<% else %>
			<li>Signed in as<%= @current_member.name %></li>
			<li><%=link_to "Sign Out", logout_path %></li>]
		<% end %>	
		<%if !secondsigned_in? %>
			<li><%= link_to "Admin Sign In", secondlogin_path%></li>
		<% else %>
			<li>Signed in as<%= @secondcurrent_user.name %></li>
			<li><%=link_to "Sign Out", secondlogout_path %></li>]
		<% end %>
	</ul>
</div>	

<%= yield %>

</body>
</html>
